li {
  list-style: none;
}

li div.container {
  padding: 1rem 1rem;
}

div.addCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.cart-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
