div.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.product {
  height: 1rem;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

div.back-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

div.quantity {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
