<div class="container">
    <div class="row">
        <div class="col-6 imagem">
            <img src="{{product.img}}" alt="imagem">
        </div>
        <div class="col-6 info">
            <div class="product-title">
                <strong>
                    <span> {{product.name}}</span>
                </strong>
            </div>
            <div class="info-price">
                <span>R$ </span>
                <span> {{product.price}}</span>
            </div>
        </div>
    </div>
</div>